.Grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding:15px;
    border-radius: 6px;
    border: 1px solid black;
    background:url('/images/gridBackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    width:100%;

    box-shadow: 0 0 10px white;
}
